parameters:
	ignoreErrors:
		-
			message: "#^Anonymous function should return string but returns string\\|false\\.$#"
			count: 1
			path: inc/custom-searchform.php

		-
			message: "#^Method SupportPhone\\:\\:form\\(\\) has parameter \\$instance with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/SupportPhone.php

		-
			message: "#^Method SupportPhone\\:\\:form\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: inc/widgets/SupportPhone.php

		-
			message: "#^Method SupportPhone\\:\\:widget\\(\\) has no return type specified\\.$#"
			count: 1
			path: inc/widgets/SupportPhone.php

		-
			message: "#^Method SupportPhone\\:\\:widget\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/SupportPhone.php

		-
			message: "#^Method SupportPhone\\:\\:widget\\(\\) has parameter \\$instance with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/SupportPhone.php
