parameters:
	ignoreErrors:
		-
			message: "#^Anonymous function should return string but returns string\\|false\\.$#"
			count: 1
			path: inc/custom-searchform.php

		-
			message: "#^Parameter \\#1 \\(string\\|WP_Error\\) of echo cannot be converted to string\\.$#"
			count: 1
			path: inc/shortcode.php

		-
			message: "#^Method BaseLocation_Widget\\:\\:form\\(\\) has parameter \\$instance with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/BaseLocation_Widget.php

		-
			message: "#^Method BaseLocation_Widget\\:\\:form\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: inc/widgets/BaseLocation_Widget.php

		-
			message: "#^Method BaseLocation_Widget\\:\\:widget\\(\\) has no return type specified\\.$#"
			count: 1
			path: inc/widgets/BaseLocation_Widget.php

		-
			message: "#^Method BaseLocation_Widget\\:\\:widget\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/BaseLocation_Widget.php

		-
			message: "#^Method BaseLocation_Widget\\:\\:widget\\(\\) has parameter \\$instance with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/BaseLocation_Widget.php

		-
			message: "#^Method CustomerShowcase_Widget\\:\\:widget\\(\\) has no return type specified\\.$#"
			count: 1
			path: inc/widgets/CustomerShowcase_Widget.php

		-
			message: "#^Method CustomerShowcase_Widget\\:\\:widget\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/CustomerShowcase_Widget.php

		-
			message: "#^Method CustomerShowcase_Widget\\:\\:widget\\(\\) has parameter \\$instance with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/CustomerShowcase_Widget.php

		-
			message: "#^Parameter \\#1 \\(string\\|WP_Error\\|false\\) of echo cannot be converted to string\\.$#"
			count: 1
			path: inc/widgets/CustomerShowcase_Widget.php

		-
			message: "#^Method ProductCategories_Widget\\:\\:form\\(\\) has parameter \\$instance with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/ProductCategories_Widget.php

		-
			message: "#^Method ProductCategories_Widget\\:\\:form\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: inc/widgets/ProductCategories_Widget.php

		-
			message: "#^Method ProductCategories_Widget\\:\\:widget\\(\\) has no return type specified\\.$#"
			count: 1
			path: inc/widgets/ProductCategories_Widget.php

		-
			message: "#^Method ProductCategories_Widget\\:\\:widget\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/ProductCategories_Widget.php

		-
			message: "#^Method ProductCategories_Widget\\:\\:widget\\(\\) has parameter \\$instance with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/ProductCategories_Widget.php

		-
			message: "#^Property ProductCategories_Widget\\:\\:\\$defaults has no type specified\\.$#"
			count: 1
			path: inc/widgets/ProductCategories_Widget.php

		-
			message: "#^Method Product_Widget\\:\\:form\\(\\) has parameter \\$instance with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/Product_Widget.php

		-
			message: "#^Method Product_Widget\\:\\:form\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: inc/widgets/Product_Widget.php

		-
			message: "#^Method Product_Widget\\:\\:widget\\(\\) has no return type specified\\.$#"
			count: 1
			path: inc/widgets/Product_Widget.php

		-
			message: "#^Method Product_Widget\\:\\:widget\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/Product_Widget.php

		-
			message: "#^Method Product_Widget\\:\\:widget\\(\\) has parameter \\$instance with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/Product_Widget.php

		-
			message: "#^Property Product_Widget\\:\\:\\$defaults has no type specified\\.$#"
			count: 1
			path: inc/widgets/Product_Widget.php

		-
			message: "#^Method SupportPhone_Widget\\:\\:form\\(\\) has parameter \\$instance with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/SupportPhone_Widget.php

		-
			message: "#^Method SupportPhone_Widget\\:\\:form\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: inc/widgets/SupportPhone_Widget.php

		-
			message: "#^Method SupportPhone_Widget\\:\\:widget\\(\\) has no return type specified\\.$#"
			count: 1
			path: inc/widgets/SupportPhone_Widget.php

		-
			message: "#^Method SupportPhone_Widget\\:\\:widget\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/SupportPhone_Widget.php

		-
			message: "#^Method SupportPhone_Widget\\:\\:widget\\(\\) has parameter \\$instance with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/widgets/SupportPhone_Widget.php
