@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Be Vietnam Pro, sans-serif;
    @apply bg-white;
}

*:focus {
    @apply outline-none;
}

.sticky {
    @apply fixed top-0 z-20;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 15%);
    animation: moveDown .6s;
}

.blocker {
    @apply z-50;
}

#header {
    @apply w-full;
}

.ging-menu {
    @apply hidden md:inline-flex w-full h-14 px-20 bg-white border-t border-b border-gray-200 justify-between items-center gap-8;
}

.ging-menu li {
    @apply h-full justify-center items-center;
}

.categories-items {
    @apply h-full inline-flex justify-center items-center relative grow shrink basis-0 text-zinc-900 text-sm font-semibold leading-none hover:text-green-500;
}

.categories-items > div {
    @apply hidden h-fit absolute shadow w-[800px] z-50 border-t-2 border-green-500 -left-8 top-12 bg-white;
}

.categories-items:hover > div {
    @apply block;
}

.ging-menu > li {
    @apply text-zinc-900 text-sm font-semibold leading-none hover:text-green-500 inline-flex gap-2;
}

#main {
    @apply px-4 md:px-10 lg:px-20 pb-6;
}

.primary-menu > ul {
    @apply w-full h-[54px] px-20 py-3 bg-white border-t border-b border-gray-200 justify-start items-center gap-8 inline-flex;
}

.woocommerce-breadcrumb {
    @apply my-4 flex flex-row justify-items-center items-center gap-4 text-[#767676];
}

.product_title {
    @apply text-zinc-900 text-[32px] font-semibold leading-[44px];
}

li.product {
    @apply relative grid grid-cols-1;
}

/* .woocommerce-LoopProduct-link {
    @apply w-full h-[300px] overflow-hidden inline-block;
}

.woocommerce-LoopProduct-link img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.woocommerce-LoopProduct-link:hover img {
    transform: scale(1.5);
} */

div > li.product {
    @apply h-full;
}

.woocommerce-product-gallery {
    @apply flex-[30%];
}

.woocommerce-tabs {
    @apply flex-[100%];
}

.wc-tabs {
    @apply w-full h-14 bg-white justify-start items-start inline-flex gap-2;
}

.wc-tab {
    @apply px-2 md:px-20 lg:px-36 pb-[80px];
}

#tab-description {
    @apply pt-8;
}

#tab-additional_information {
    @apply pt-2;
}

.wc-tabs {
    @apply border-b border-gray-200;
}

li[role=tab] {
    @apply w-full h-14 p-4 bg-white justify-center items-center gap-2.5 inline-flex font-bold text-lg border-b border-gray-200;
}

li[role=tab].active {
    @apply border-b-2 border-green-500 text-green-500;
}

.woocommerce-product-attributes, .woocommerce-product-attributes-item {
    @apply w-full;
}

#tab-additional_information > h2 {
    @apply hidden;
}

.woocommerce-product-attributes > tbody > tr {
    @apply w-full px-4 py-3 justify-start items-center gap-4 inline-flex;
}

.woocommerce-product-attributes-item__label {
    @apply w-1/3 text-neutral-500 text-base font-normal leading-snug;
}

.woocommerce-product-attributes-item__value {
    @apply text-zinc-900 text-base font-normal leading-snug;
}

.woocommerce-product-attributes > tbody > tr:nth-child(odd) {
    @apply bg-neutral-100;
}

.qty {
    @apply outline-none focus:outline-none;
}

.woocommerce-variation-add-to-cart, .cart {
    @apply flex flex-col gap-2 my-4;
}

.woocommerce-products-header__title {
    @apply hidden;
}

.woocommerce-loop-product__title {
    @apply text-lg font-bold mt-2;
}

ul.products {
    @apply mt-4;
}

.price {
    @apply text-green-500 text-lg font-semibold leading-snug;
}

li.product > :last-child {
    @apply hidden;
}

.onsale {
    @apply absolute top-1 left-1 p-1 bg-red-500 text-white z-50;
}

.attachment-woocommerce_thumbnail {
    @apply rounded-md;
}

h2 {
    @apply text-lg font-bold;
}


/* Filter custom */

.woocommerce-ordering {
    @apply h-16;
}

.woocommerce-result-count {
    @apply hidden;
}

/* Account custom */

div.woocommerce {
    @apply px-2 md:px-[80px] py-6;
}

.woocommerce:has(nav.woocommerce-MyAccount-navigation) {
    @apply flex flex-wrap md:flex-nowrap flex-row gap-10;
}

.woocommerce-MyAccount-navigation {
    @apply w-full md:w-1/5;
}

.woocommerce-MyAccount-content {
    @apply w-full flex flex-col gap-6;
}

.woocommerce-EditAccountForm {
    @apply flex flex-col gap-4;
}

.woocommerce-form-row {
    @apply flex flex-row flex-wrap gap-4;
}

.woocommerce-form-row > .password-input {
    @apply flex-grow;
}

.woocommerce-form-row > label {
    @apply w-[30%];
}

.woocommerce-Input {
    @apply h-11 px-4 rounded-md border border-gray-200 justify-start items-center flex-grow;
}

.woocommerce-MyAccount-navigation > ul > li:not(:last-child) {
    @apply border-b border-gray-200 ;
}

.widget_woo_category {
    @apply my-2;
}

del > span.woocommerce-Price-amount > bdi {
    @apply text-neutral-500 text-sm font-normal line-through leading-[18.20px];
}

del, ins {
    all: unset;
}

ins > span {
    @apply text-green-500 font-bold;
}

.menu-item-has-children {
    @apply relative;
}

.menu-item-has-children > ul {
    @apply hidden bg-white h-fit shadow absolute -left-4 top-12 w-40 flex-col justify-start items-start gap-4 z-10 p-6 border-t-2 border-green-500;
}

.menu-item-has-children:hover > ul {
    @apply inline-flex;
}

.sub-menu > li {
    @apply border-b border-b-gray-200 w-full pb-4 text-zinc-900 hover:text-green-500;
}

.footer-columns-1, .footer-columns-2 {
    @apply text-neutral-500 text-sm font-normal leading-tight;
}

.footer-columns-1 > h2, .footer-columns-2 > h2 {
    @apply text-white text-base font-semibold leading-tight;
}

.page-numbers {
    @apply flex pl-0 rounded text-center m-auto;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

ul.customer-showcase > div > div > div > div {
    @apply flex gap-6;
}

.products-sale {
    @apply py-8;
}

.user-dropdown:focus > .dropdown, .dropdown:hover {
    @apply inline-flex;
}

.woocommerce-pagination {
    @apply mt-2;
}

.woocommerce-pagination > ul {
    @apply flex flex-row justify-center gap-2.5;
}

.page-numbers > li {
    @apply w-10 h-10 px-4 py-1.5 bg-white rounded-md border border-gray-200 justify-start items-center gap-2.5 inline-flex;
}

a.page-numbers {
    @apply text-zinc-900 text-sm font-normal leading-tight;
}

li:has(span.current) {
    @apply border-green-500;
}

span.current {
    @apply text-green-500 text-sm font-normal leading-tight;
}

.mini-item > img {
    @apply w-20 h-20 rounded-md;
}

.modal {
    @apply hidden border-none rounded-none p-0;
}

.modal a.close-modal {
    @apply hidden;
}

.order-dropdown:hover > .dropdown-items {
    @apply block;
}

.dropdown-items > ul > li:not(:last-child) {
    @apply border-b border-gray-200;
}

#tab-description > p {
    @apply text-neutral-500 text-base font-normal leading-snug;
}

#tab-description > h2 {
    @apply text-zinc-900 text-xl font-semibold leading-normal mb-2;
}

.slick-initialized {
    @apply !grid-cols-1;
}

.slick-slide > div > li {
    @apply px-2;
}

.slick-list {
    @apply !px-0;
}

#wpgs-gallery .slick-slide.wcgs-thumb img {
    @apply border rounded-md;
}

#wpgs-gallery .slick-slide.wcgs-thumb.slick-current.wcgs-thumb img {
    @apply !border-green-500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* Woocommerce swatches */
.button-variable-items-wrapper {
    @apply w-full h-fit justify-start items-start gap-2 inline-flex;
}

.variable-item {
    @apply px-6 py-3 rounded-md border border-gray-200 justify-start items-center gap-2 flex;
}

li[aria-checked=true] {
    @apply border border-green-500 bg-green-200 text-green-500;
}

.woo-selected-variation-item-name {
    @apply font-normal;
}

table.variations > tbody > tr {
    @apply flex flex-col gap-2;
}

th.label {
    @apply align-top text-left;
}

.variations > tbody {
    @apply flex flex-col gap-4;
}

body.woocommerce-account > .woocommerce {
    @apply bg-neutral-100;
}

body.woocommerce-checkout > .woocommerce {
    @apply p-0;
}

.woocommerce-input-wrapper {
    @apply w-full h-11 px-4 rounded-md border border-gray-200 justify-start items-center gap-2.5 inline-flex;
}

.input-text {
    @apply w-full text-zinc-900 text-sm font-normal leading-tight;
}

.woocommerce-input-wrapper:has(textarea) {
    @apply h-fit;
}

.woocommerce-billing-fields__field-wrapper {
    @apply justify-start items-start gap-3 inline-flex flex-wrap;
}

.form-row {
    @apply w-full;
}

.validate-phone, .validate-email {
    @apply md:w-[40%] grow;
}

form.woocommerce-checkout {
    @apply w-full flex flex-auto gap-6 flex-wrap md:grid md:grid-cols-2;
}

form.woocommerce-checkout > div {
    @apply p-2 md:p-6;
}

.woocommerce-checkout-review-order {
    @apply w-full bg-neutral-100;
}

.wc_payment_methods {
    @apply flex flex-col gap-4 my-4;
}

.wc_payment_method {
    @apply p-4 rounded-md border border-gray-200 justify-start items-center gap-5 inline-flex;
}

.wc_payment_method > input {
    @apply w-6 h-6;
}

.payment_box {
    @apply hidden;
}

button[name=woocommerce_checkout_place_order] {
    @apply w-full h-11 px-6 bg-green-500 rounded-md justify-center items-center text-white text-base font-semibold leading-tight;
}

.woocommerce-notices-wrapper {
    @apply w-full;
}

.woocommerce-error > li {
    @apply p-4 mb-4 text-sm text-red-800 bg-red-50;
}

.woocommerce-message {
    @apply p-4 mb-4 text-sm text-green-800 bg-green-50;
}

.woocommerce-message > a {
    @apply font-bold;
}

.variations_form > div {
    @apply w-full flex flex-col gap-4;
}

.single_variation_wrap {
    @apply flex flex-col gap-4;
}

.woocommerce-variation-description {
    @apply hidden;
}

/** Cart */
body.woocommerce-cart > .woocommerce {
    @apply bg-neutral-100;
}

form.woocommerce-cart-form {
    @apply bg-white p-4 w-full md:w-2/3;
}

.cart-collaterals {
    @apply bg-white p-4 w-full md:w-1/3 h-fit;
}

td.product-thumbnail {
    @apply max-h-24 w-24;
}

td.product-subtotal {
    @apply flex flex-col justify-between;
}

tr.woocommerce-cart-form__cart-item {
    @apply w-full flex flex-row gap-4 py-4 border-b border-gray-200;
}

td.product-name {
    @apply grow;
}

button[name=update_cart] {
    @apply hidden;
}

.coupon {
    @apply flex flex-row gap-2 my-4 w-full;
}

button[name=apply_coupon], .wc-proceed-to-checkout {
    @apply bg-green-500 text-white w-full p-4 rounded-md inline-flex justify-center;
}

.wc-proceed-to-checkout {
    @apply mt-4;
}

table.woocommerce-MyAccount-orders {
    @apply bg-white p-6;
}

.cart_totals > table {
    @apply w-full;
}

.cart_totals > table > tbody > tr {
    @apply flex flex-row justify-between;
}
